<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>First Vue App</title>
</head>
<link rel="stylesheet" href="css/vueprojectapp.css">
<body>
<main id="foodtracker">
    <h1>
        Food Tracker
        <span>What is in your refrigerator?</span>
    </h1>

    <template v-if="todo.length">
        <transition-group name="foodtracker" tag="ul">
            <li v-for="item in todoByStatus" v-bind:class="item.done ? 'done' : ''" v-bind:key="item.id">
                <span class="label">{{item.label}}</span>
                <div class="actions">
                    <button class="btn-picto" type="button" v-on:click="markAsDoneOrUndone(item)" v-bind:aria-label="item.done ? 'Undone' : 'Done'" v-bind:title="item.done ? 'Undone' : 'Done'">
                        <i aria-hidden="true" class="material-icons">{{ item.done ? 'check_box' : 'check_box_outline_blank' }}</i>
                    </button>
                    <button class="btn-picto" type="button" v-on:click="deleteItemFromList(item)" aria-label="Delete" title="Delete">
                        <i aria-hidden="true" class="material-icons">delete</i>
                    </button>
                </div>
            </li>
        </transition-group>
        <togglebutton
                label="Move crossed out items to the bottom?"
                name="todosort"
                v-on:clicked="clickontoogle">

        </togglebutton>
    </template>
    <p v-else class="emptylist">Your refrigerator is empty.</p>

    <form name="newform" v-on:submit.prevent="addItem">
        <label for="newitem">Add items</label>
        <input type="text" name="newitem" id="newitem" v-model="newitem">
        <button type="submit">Add item</button>
    </form>
</main>
<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@2.6.1"></script>
<script src="js/vueprojectapp.js"></script>
</body>
</html>